$text: #acacac;
$alt: #967f59;

html {
    background-color: #313234;
}
body {
    background-color: transparent;
    margin: 2em;
    color: $text;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Sans', sans-serif;
    color: $text;
}
a {
    color: $alt;
    &:hover {
        color: white;
        text-decoration: underline;
    }
}

header {
    background: transparent url("/media/images/logo.png") no-repeat left center;
    height: 67px;
    margin-bottom: 2em;
    overflow: hidden;

    ul {
        list-style-type: none;
        margin: 52px 0 0 90px;
        line-height: 15px;

        li {
            display: inline-block;
            margin-left: 2em;

            a {
                color: $text;
            }

            &.active {
                a {
                    color: $alt;
                }
            }
        }
    }
}

.entry {
    border-left: 4px solid darken($text, 40%);
    padding-left: 1em;
    margin: 2em;
    max-width: 45em;

}

#resume {
    @include grid-row;

    .history {
        @include grid-column(8);
    }
    .skills {
        @include grid-column(4);
    }
}